extends ../layouts/user-manager-layout

block main
    div(style={width: "60%"}).container
        if error && error.alert && error.alert != ''
            div(role="alert").alert.alert-danger #{error.alert}
        form(action="/user/change-password", method="POST")
            fieldset
                legend: strong.text-info Change password
                div.form-group.has-validation
                    - var isInvalid = error && error.oldPassword
                    label(for='oldPassword') Old Password
                    input.form-control(id='oldPassword', name="oldPassword", type='password', placeholder='Old Password', value=changePasswordUser.oldPassword, required, class={"is-invalid": isInvalid})
                    if isInvalid
                        span.invalid-feedback #{error.oldPassword}
                div.form-group.has-validation
                    - var isInvalid = error && error.newPassword
                    label(for='newPassword') Password
                    input.form-control(id='newPassword', name="newPassword", type='password', placeholder='New Password', value=changePasswordUser.newPassword, required, class={"is-invalid": isInvalid})
                    if isInvalid
                        span.invalid-feedback #{error.newPassword}
                div.form-group.has-validation
                    - var isInvalid = error && error.passwordConfirmation
                    label(for='passwordConfirmation') Password Confirmation
                    input.form-control(id='passwordConfirmation', name="passwordConfirmation", type='password', placeholder='Password confirmation', value=changePasswordUser.passwordConfirmation, required, class={"is-invalid": isInvalid})
                    if isInvalid
                        span.invalid-feedback #{error.passwordConfirmation}
                div.form-actions
                    button.btn.btn-primary(type='submit') Submit form
